# This file is a "template" of which env vars need to be defined
# for your application, use only on development stages.
# Create real environment variables when deploying to production.

# Environment ("prod" by default)
# - "dev" for development
# - "prod" for production
ENVIRONMENT="dev"

# Debugger ("0" by default)
# - "1" for enabled
# - "0" for disabled
DEBUG_MODE="1"

# Database
DATABASE_NAME="yii2basic"
DATABASE_USER=""
DATABASE_PASSWORD=""
DATABASE_HOST="localhost"
DATABASE_PORT="3306"
DATABASE_DRIVER="mysql"
DATABASE_CHARSET="utf8"